<include file="Page/layout/_head" title="首页" css="__PUBLIC__/css/home.css" />
<ul class="main-bg-list" id="mainBgList">
    <li><img src="__PUBLIC__/images/red-bg.png" /></li>
    <li><img src="__PUBLIC__/images/temp/main-bg1.png" /></li>
    <li><img src="__PUBLIC__/images/temp/main-bg3.png" /></li>
    <li><img src="__PUBLIC__/images/temp/main-bg4.png" /></li>
</ul>
<div class="main-content">
    <div class="main-item-list" id="mainItemList">
        <div class="wrap wrap-vertical show">
            <div class="wrap-content">
                <div class="main-item-content abs100">
                    <div class="sign-today">
                        <div><label>25</label><span><i>25</i></span></div>
                        <div><label>26</label><span><i>26</i></span></div>
                        <div><label>27</label><span><i>27</i></span></div>
                        <div><label>28</label><span><i>28</i></span></div>
                        <div><label>29</label><span><i>29</i></span></div>
                        <div><label>30</label><span><i>30</i></span></div>
                        <div><label>31</label><span><i>31</i></span></div>
                    </div>
                    <div class="main-item-title"><a href="javascript:void(0)" class="color-title">今日签到</a></div>
                    <div class="main-item-remark"><a href="javascript:void(0)" class="color-remarks">完成今日签到赠送随机M币和现金红包哦</a></div>
                </div>
            </div>
            <div class="main-item-footer">
                <p class="color-title sign-title">签到礼包</p>
                <a class="button" href="javascript:void(0)" onclick="tools.alert('签到抢红包')">签到领取</a>
            </div>
        </div>
        <div class="wrap wrap-vertical">
            <div class="wrap-content">
                <div class="main-item-content abs100">
                    <a href="javascript:void(0)" class="main-item-img"><img src="__PUBLIC__/images/temp/main-content.png" /></a>
                    <div class="main-item-title"><a href="javascript:void(0)" class="color-title">欧洲自助游</a></div>
                    <div class="main-item-remark"><a href="javascript:void(0)" class="color-remarks">欧洲自由行，领略异域乡村风光</a></div>
                </div>
            </div>
            <div class="main-item-footer">
                <p class="color-focus">￥2.56</p>
                <a class="button" href="javascript:void(0)" onclick="tools.alert('签到抢红包')">签到领红包</a>
            </div>
        </div>
        <div class="wrap wrap-vertical">
            <div class="wrap-content">
                <div class="main-item-content abs100">
                    <a href="javascript:void(0)" class="main-item-img"><img src="__PUBLIC__/images/temp/main-content.png" /></a>
                    <div class="main-item-title"><a href="javascript:void(0)" class="color-title">每日签到领红包</a></div>
                    <div class="main-item-remark"><a href="javascript:void(0)" class="color-remarks">大把现金红包等你来拿，这个是傻逼啥的</a></div>
                </div>
            </div>
            <div class="main-item-footer">
                <p class="color-focus">￥0.18</p>
                <a class="button" href="javascript:void(0)" onclick="tools.alert('签到抢红包')">签到领红包</a>
            </div>
        </div>
        <div class="wrap wrap-vertical">
            <div class="wrap-content">
                <div class="main-item-content abs100">
                    <a href="javascript:void(0)" class="main-item-img"><img src="__PUBLIC__/images/temp/main-content.png" /></a>
                    <div class="main-item-title"><a href="javascript:void(0)" class="color-title">没内容了</a></div>
                    <div class="main-item-remark"><a href="javascript:void(0)" class="color-remarks">没内容了没内容了没内容了没内容了，这个是傻逼啥的</a></div>
                </div>
            </div>
            <div class="main-item-footer">
                <p class="color-focus">￥5.31</p>
                <a class="button" href="javascript:void(0)" onclick="tools.alert('签到抢红包')">签到领红包</a>
            </div>
        </div>
    </div>
    <div class="main-index" id="mainIndex">
        <label class="active"></label>
        <label></label>
        <label></label>
        <label></label>
    </div>
</div>
<include file="Page/layout/_footer" script="__PUBLIC__/js/home.js" color="color-white" />
