<include file="Page/layout/_head" title="个人中心" css="__PUBLIC__/css/userCenter.css" />
<div class="content-padding">
    <div class="user-info">
        <img class="bg" src="__PUBLIC__/images/user-center-info-bg.jpg" />
        <div>
            <img class="head" src="__PUBLIC__/images/temp/user-user-head.jpg" />
            <span class="name color-white">山冲冲里出来滴</span>
        </div>
    </div>
    <div class="text-item-tab wrap">
        <a href="javascript:void(0)" class="color-link wrap-content active">个人余额：<span class="color-focus">￥21</span></a>
        <a href="javascript:void(0)" class="color-link wrap-content">个人M币：<span class="color-focus"><span class="iconfont">&#xe608;</span>200</span></a>
    </div>
    <div class="text-item-content">
        <ul>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe600;</span>
                    <span class="wrap-content">余额详情</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe612;</span>
                    <span class="wrap-content">兑换记录</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li class="dividing-line">
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe604;</span>
                    <span class="wrap-content">中奖记录</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe611;</span>
                    <span class="wrap-content">地址管理</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe600;</span>
                    <span class="wrap-content">余额详情</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe612;</span>
                    <span class="wrap-content">兑换记录</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li class="dividing-line">
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe604;</span>
                    <span class="wrap-content">中奖记录</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
            <li>
                <a class="wrap color-link">
                    <span class="iconfont item-icon">&#xe611;</span>
                    <span class="wrap-content">地址管理</span>
                    <span class="iconfont item-gt">&#xe613;</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="button-list">
        <a href="#" class="button">赚取更多</a>
        <a href="#" class="button button-empty">兑&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;换</a>
    </div>
</div>
<include file="Page/layout/_footer" script="__PUBLIC__/js/userCenter.js" color="color-link" />