<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-orientation" content="landscape" />
    <meta name="x5-page-mode" content="app" />
    <title></title>
    <meta charset="utf-8" />
    <link href="__PUBLIC__/css/comm.css" rel="stylesheet" />
    <link href="[css]" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- 左侧导航菜单 Begin -->
        <div id="leftMenu" class="left-menu">
            <div class="left-user">
                <img src="__PUBLIC__/images/user-user-bg.jpg" />
                <a class="wrap" href="//baidu.com">
                    <span><img src="__PUBLIC__/images/temp/user-user-head.jpg" /></span>
                    <span class="wrap-content">
                        <span class="text-overhide">用户名用户名</span>
                        <label class="text-overhide">18566775002</label>
                    </span>
                </a>
            </div>
            <div class="left-menu-group dividing-line">
                <a class="left-menu-item wrap" href="#">
                    <span class="iconfont">&#xe600;</span>
                    <span>我的余额</span>
                </a>
                <a class="left-menu-item wrap" href="#">
                    <span class="iconfont">&#xe608;</span>
                    <span>我的M币</span>
                </a>
            </div>
            <div class="left-menu-group dividing-line">
                <a class="left-menu-item wrap" href="#">
                    <span class="iconfont">&#xe60f;</span>
                    <span>互动推荐</span>
                </a>
                <a class="left-menu-item wrap" href="#">
                    <span class="iconfont">&#xe609;</span>
                    <span>M币商城</span>
                </a>
                <a class="left-menu-item wrap" href="#">
                    <span class="iconfont">&#xe60a;</span>
                    <span>个人中心</span>
                </a>
            </div>
        </div>
        <!-- 左侧导航菜单 End -->
        <!-- 内容区域 Begin -->
        <div id="contentContainer" class="content-container">
