<include file="layer:header" xmlns="http://www.w3.org/1999/html"/>
<script type="text/javascript" src="/Public/js/utils.js"></script>
<script type="text/javascript">
    onload = function() {
        if (!document.all)
        {
            //  document.forms['theForm'].reset();
        }
    }

</script>
<style type="text/css">
    pre{
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
<div class="container">
    <div class="from">
        <ul class="cl mt10">
            <!--
            <div class="tit ">
                <div class=" mc">
                    <div class="btn send_post" style="height: 36px; line-height: 36px;">关于我们</div>
                </div>
            </div>-->
        </ul>
        <ul>
        <pre>
关于我们
章鱼帝足球是由杭州闲鹤科技有限公司研发，提供足彩的大数据分析，提供足彩的资讯服务。

免责声明
1、本APP提供所有信息服务、各种营销活动、运营计划均与Apple公司无关。
2、本网站上的竞猜仅代表用户个人的意见，跟本网站无任何关系；
3、本网站上刊登的广告仅代表推广客户的意见，其表达方式以及内容和本网站无任何关系。我司已经充分告知广告主链接广告不得违反国家相关法律规定，如有违者，本网站有权随时予以屏蔽及删除，并保留与有关部门合作追究的权利。
4、本网站提供的资讯仅供足彩爱好者浏览，购买中国足彩参考之用，任何人不得用于非法用途，否则责任自负，跟本网站无关。

联系我们
QQ：1791303669
        </pre></ul>
    </div>

</div>
</div>
<include file="layer:foot" />

</body>
</html>
