<include file="layer:header" xmlns="http://www.w3.org/1999/html"/>
<script type="text/javascript" src="/Public/js/utils.js"></script>
<script type="text/javascript">
    onload = function() {
        if (!document.all)
        {
            //  document.forms['theForm'].reset();
        }
    }

</script>
<style type="text/css">
    pre{
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
<div class="container">
    <div class="from">
        <ul class="cl mt10">
            <!--
            <div class="tit ">
                <div class=" mc">
                    <div class="btn send_post" style="height: 36px; line-height: 36px;">关于我们</div>
                </div>
            </div>-->
        </ul>
        <ul>
        <pre>
 杭州闲鹤科技有限公司，主要经营技术开发、技术服务、技术咨询、
成果转让：网络信息技术、电子商务技术、互联网信息技术、电子产品、计算，注册资本1000000万元，
公司是浙江杭州其他行业的知名企业，公司坚持诚信、互利，为客户提供最好的服务和最实惠的价格。
热诚欢迎各界朋友前来参观、洽谈业务。
        </pre></ul>
    </div>

</div>
</div>
<include file="layer:foot" />

</body>
</html>
